<div class="app" [ngClass]="
    {
    }">
    <div class="layout" [ngClass]="headerSelected">

        <div>
            <!-- Side Nav START -->
            <div class="side-nav">
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a>
                            <img class="logo logo-dark" src="assets/images/logo/WMS_Logosmall.png"/>
                        </a>
                        <div class="mobile-toggle side-nav-toggle">
                            <a href="">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                    <ul class="side-nav-menu scrollable ps-container ps-theme-default" data-ps-id="65a8e99c-6dc4-f6f2-ef5e-69b6faa35954">
                        <li class="nav-item">
                            <a class="mrg-top-10" [routerLink]="['/dashboard']">
                                <span class="icon-holder">
                                    <img src="/assets/images/icons/home32.png" style="padding-bottom: 5px;">
									</span>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <img src="/assets/images/icons/asn32.png" style="padding-bottom: 5px;">
									</span>
                                <span class="title">Inbound</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a [routerLink]="['/users/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/asn32.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;ASN Details</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/receiving/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/receive32.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Order Receiving</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a  [routerLink]="['/putaway/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/putaways32.png" style="padding-bottom: 8px;">
                                            </span>
                                        <span class="title">&nbsp;Put Aways</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <img src="/assets/images/icons/inventory32.png" style="padding-bottom: 5px;">
									</span>
                                <span class="title">Inventory</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a [routerLink]="['/inventory/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/inventory32.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Inventory View</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a>
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/outbound32_1.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Out Bound</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a>
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/outbound32_2.png" style="padding-bottom: 8px;">
                                            </span>
                                        <span class="title">&nbsp;Out Bound</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <img src="/assets/images/icons/shipment32_1.png" style="padding-bottom: 5px;">
									</span>
                                <span class="title">Shipment</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a>
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/shipment32_1.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Shipment</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a>
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/shipment32_2.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Shipment</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a>
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/shipment32_3.png" style="padding-bottom: 8px;">
                                            </span>
                                        <span class="title">&nbsp;Shipment</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <img src="/assets/images/icons/setup32.png" style="padding-bottom: 5px;">
									</span>
                                <span class="title">Setup</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a [routerLink]="['/sites/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/site32.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Site</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/warehouse/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/warehouse32.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Warehouse</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/location/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/location32.png" style="padding-bottom: 8px;">
                                            </span>
                                        <span class="title">&nbsp;Location</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/customer/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/customer32.png" style="padding-bottom: 5px;">
                                            </span>
                                        <span class="title">&nbsp;Customer</span>
                                    </a>
                                </li>
                                <li class="nav-item" style="margin-bottom:50px;">
                                    <a [routerLink]="['/product/list']">
                                        <span class="icon-holder">
                                            <img src="/assets/images/icons/products32.png" style="padding-bottom: 8px;">
                                            </span>
                                        <span class="title">&nbsp;Products</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>
                </div>
            </div>
            <!-- Side Nav END -->

          <!-- Content Wrapper START -->
          <div class="page-container">
          <div class="header navbar">
            <div class="header-container" style="width: 100%;">
              <ul class="nav-left">
                <li><a class="side-nav-toggle"><i class="ti-view-grid"></i></a></li>
                <li style="margin-left: 10px;"><a class="heading-text" [routerLink]="['/dashboard']" href="javascript:void(0);"><i class="headerIcon ti-home"></i>&nbsp;
                <b class="headerTitle">WMS</b>
                </a></li>
              </ul>
                  <ul class="nav-right">
                    <li class="user-profile dropdown">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="userAvatar" class="profile-img img-fluid" src="assets/images/user_admin.png">
                        <div class="user-info">
                          <span class="name pdd-right-5">Admin</span>
                          <i class="ti-angle-down font-size-10"></i>
                        </div>
                      </a>
                      <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li>
                          <a href="">
                            <a href="" [routerLink]="['/logout']"><b>
                              <i class="ti-power-off pdd-right-10"></i>
                              <span>Logout</span></b>
                            </a>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
            </div>
          </div>
          <div class="main-content">
            <router-outlet></router-outlet>
          </div>
          <!-- Footer START -->
          <footer class="content-footer">
            <div class="footer">
              <div class="copyright">
                <span>IOTA Technologies Pvt Copyright © 2019</span>
              </div>
            </div>
          </footer>
          <!-- Footer END -->
          </div>
          <!-- Content Wrapper END -->

            <!-- Page Container START -->
            <!--<div class="page-container">-->

                <!--&lt;!&ndash; Top Nav START &ndash;&gt;-->
                <!--&lt;!&ndash;<div class="header navbar">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="header-container">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash; Top Nav END &ndash;&gt;-->

                <!--&lt;!&ndash; Content Wrapper START &ndash;&gt;-->
                <!--<div class="main-content">-->
                    <!--<router-outlet></router-outlet>-->
                <!--</div>-->
                <!--&lt;!&ndash; Content Wrapper END &ndash;&gt;-->

                <!--&lt;!&ndash; Footer START &ndash;&gt;-->
                <!--<footer class="content-footer">-->
                    <!--<div class="footer">-->
                        <!--<div class="copyright">-->
                            <!--<span>VMS Copyright © 2019</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</footer>-->
                <!--&lt;!&ndash; Footer END &ndash;&gt;-->

            <!--</div>-->
            <!-- Page Container END -->

         </div>
    </div>
</div>
