<div class="container-fluid">
  <div class="row bg-white pt-3">
    <div class="col-md-6">
      <h4 class="card-title">Basic Details</h4>
      <form [formGroup]="locationForm" class="form-horizontal mrg-top-40 pdd-right-30">


        <div class="form-group d-none row">
          <label class="col-md-3 control-label">Warehouse Id <a class="text-danger">*</a></label>
          <div class="col-md-9 form-group">
            <input
              required
              [ngClass]="{ 'is-invalid': formSubmitted && f.warehouseId.errors }"
              type="text" maxlength="255" class="form-control" placeholder="Enter Site Id"
              formControlName="warehouseId">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label">Warehouse Name <a class="text-danger">*</a></label>
          <div class="col-md-9 form-group">
            <ng-multiselect-dropdown
              formControlName='warehouseName'
              [placeholder]="'Select Warehouse'"
              [(data)]="warehouses"
              [(ngModel)]="selectedWarehouse"
              [settings]="dropdownSettingsWarehouse"
              (onSelect)="onItemSelectWarehouse($event)"
              (onDeSelect)="onItemDeSelectWarehouse($event)"
            >
            </ng-multiselect-dropdown>
            <div *ngIf="formSubmitted && selectedWarehouse.length == 0" class="error-msg">
              <div class="text-danger">Warehouse is required.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label">Location Name <a class="text-danger">*</a></label>
          <div class="col-md-9 form-group">
            <input
              required
              [ngClass]="{ 'is-invalid': formSubmitted && f.locationName.errors }"
              type="text" maxlength="255" class="form-control" placeholder="Enter Location Name"
              formControlName="locationName">
            <div *ngIf="formSubmitted && locationForm.controls['locationName'].errors" class="error-msg">
              <div class="text-danger" [hidden]="!locationForm.controls['locationName'].errors.required">Location Name is required.</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label">Location Type <a class="text-danger">*</a></label>
          <div class="col-md-9 form-group">
            <ng-multiselect-dropdown
              formControlName='locationType'
              [placeholder]="'Select Location Type'"
              [(data)]="locationTypes"
              [(ngModel)]="selectedLocationType"
              [settings]="dropdownSettingsLocationType"
              (onSelect)="onItemSelectLocationType($event)"
              (onDeSelect)="onItemDeSelectLocationType($event)"
            >
            </ng-multiselect-dropdown>
            <div *ngIf="formSubmitted && selectedLocationType.length == 0" class="error-msg">
              <div class="text-danger">Location Type is required.</div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 control-label">Location Description <a class="text-danger">*</a></label>
          <div class="col-md-9 form-group">
            <textarea
              required
              [ngClass]="{ 'is-invalid': formSubmitted && f.locationDescription.errors }"
              type="text"
              maxlength="1000" class="form-control" placeholder="Enter Location Description"
              formControlName="locationDescription">
            </textarea>
            <div *ngIf="formSubmitted && locationForm.controls['locationDescription'].errors" class="error-msg">
              <div class="text-danger" [hidden]="!locationForm.controls['locationDescription'].errors.required">Location Description is required.</div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 control-label">ABC Classification <a class="text-danger">*</a></label>
          <div class="col-md-9 form-group">
            <ng-multiselect-dropdown
              formControlName='ABCClassification'
              [placeholder]="'Select ABC Classification'"
              [(data)]="ABCClassification"
              [(ngModel)]="selectedABCClassification"
              [settings]="dropdownSettingsABCClassification"
              (onSelect)="onItemSelectABCClassification($event)"
              (onDeSelect)="onItemDeSelectABCClassification($event)"
            >
            </ng-multiselect-dropdown>
            <div *ngIf="formSubmitted && selectedABCClassification.length == 0" class="error-msg">
              <div class="text-danger">ABC Classification is required.</div>
            </div>
          </div>
        </div>


      </form>
    </div>
    <div class="form-group col-md-6">
      <h4 class="card-title">Extended Information</h4>
      <form [formGroup]="locationForm" class="form-horizontal mrg-top-40 pdd-right-30">
        <div class="row mrg-top-20">
          <div class="col-md-10">

            <div class="form-group row">
              <label class="col-md-3 control-label">Cubic Capacity <a class="text-danger">*</a></label>
              <div class="col-md-9 form-group">
                <input
                  required
                  [ngClass]="{ 'is-invalid': formSubmitted && f.cubicCapacity.errors }"
                  type="text" maxlength="255" class="form-control" placeholder="Enter Cubic Capacity"
                  formControlName="cubicCapacity">
                <div *ngIf="formSubmitted && locationForm.controls['cubicCapacity'].errors" class="error-msg">
                  <div class="text-danger" [hidden]="!locationForm.controls['cubicCapacity'].errors.required">Cubic Capacity is required.</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 control-label">Weight Capacity <a class="text-danger">*</a></label>
              <div class="col-md-9 form-group">
                <input
                  required
                  [ngClass]="{ 'is-invalid': formSubmitted && f.weightCapacity.errors }"
                  type="text" maxlength="255" class="form-control" placeholder="Enter Location Name"
                  formControlName="weightCapacity">
                <div *ngIf="formSubmitted && locationForm.controls['weightCapacity'].errors" class="error-msg">
                  <div class="text-danger" [hidden]="!locationForm.controls['weightCapacity'].errors.required">Weight Capacity is required.</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group"><label>Length <a class="text-danger">*</a>
                </label>
                  <input
                    placeholder="Enter Length"
                    required
                    [ngClass]="{ 'is-invalid': formSubmitted && f.length.errors }"
                    min="1"
                    oninput="validity.valid||(value='');"
                    maxlength="255"
                    type="text"
                    class="form-control setWidth"
                    formControlName='length'>
                  <div *ngIf="formSubmitted && locationForm.controls['length'].errors" class="error-msg">
                    <div class="text-danger" [hidden]="!locationForm.controls['length'].errors.required">Location is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group"><label>Height<a class="text-danger">*</a>
                </label><input
                  required
                  [ngClass]="{ 'is-invalid': formSubmitted && f.height.errors }"
                  type="text"
                  placeholder="Enter Height"
                  min="1"
                  oninput="validity.valid||(value='');"
                  class="form-control setWidth"
                  maxlength="255"
                  formControlName='height'>
                  <div *ngIf="formSubmitted && locationForm.controls['height'].errors" class="error-msg">
                    <div class="text-danger" [hidden]="!locationForm.controls['height'].errors.required">Height is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group"><label>Width <a class="text-danger">*</a></label>
                  <input
                    required
                    [ngClass]="{ 'is-invalid': formSubmitted && f.width.errors }"
                    type="text"
                    min="1"
                    oninput="validity.valid||(value='');"
                    placeholder="Enter width"
                    maxlength="255"
                    class="form-control setWidth"
                    formControlName='width'>
                  <div *ngIf="formSubmitted && locationForm.controls['width'].errors" class="error-msg">
                    <div class="text-danger" [hidden]="!locationForm.controls['width'].errors.required">Width is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 control-label">Notes <a class="text-danger">*</a></label>
              <div class="col-md-9 form-group">
            <textarea
              required
              [ngClass]="{ 'is-invalid': formSubmitted && f.notes.errors }"
              type="text"
              maxlength="1000" class="form-control" placeholder="Enter Notes"
              formControlName="notes">
            </textarea>
                <div *ngIf="formSubmitted && locationForm.controls['notes'].errors" class="error-msg">
                  <div class="text-danger" [hidden]="!locationForm.controls['notes'].errors.required">Notes are required.</div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="checkbox" (click)="toggleEditableIsActive($event)" >
                <input type="checkbox" class="popup_checkbox "
                       formControlName="isActive" value="{{isActive}}" [(ngModel)]="isActive">
                <label>Is Active</label>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="form-group col-md-12">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label"></label>
        <div class="col-sm-6">
          <button type="button" class="btn btn-inverse btn-info" (click)="saveLocation()">
            <span>Save</span>
          </button>
          <button type="button" class="btn btn-inverse bg-danger text-white" href="javascript:;" (click)="routeBack()">Cancel
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>

