<div class="container-fluid">
  <div class="row bg-white pt-3">

    <div class="col-md-12">
      <div class="card" href="javascript:;">
        <ul class="list-unstyled list-info">
          <li>
            <div class="w-100 info bg-info d-flex justify-content-center align-items-center" style="height: 40px;">
              <span class="title text-center text-white">Basic Info</span>
            </div>
          </li>
        </ul>
        <div class="card-block">
          <form [formGroup]="locationForm" class="form-horizontal mrg-top-40 pdd-right-30">


            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-12 control-label">Warehouse Id <a class="text-danger">*</a></label>
                  <div class="col-md-12 form-group">
                    <input
                      readonly="readonly"
                      required
                      [ngClass]="{ 'is-invalid': formSubmitted && f.warehouseId.errors }"
                      type="text" maxlength="255" class="form-control" placeholder="Enter Site Id"
                      formControlName="warehouseId">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label >Warehouse Name <a class="text-danger">*</a></label>
                  <ng-multiselect-dropdown
                    formControlName='warehouseName'
                    [placeholder]="'Select Warehouse'"
                    [(data)]="warehouses"
                    [(ngModel)]="selectedWarehouse"
                    [settings]="dropdownSettingsWarehouse"
                    (onSelect)="onItemSelectWarehouse($event)"
                    (onDeSelect)="onItemDeSelectWarehouse($event)"
                  >
                  </ng-multiselect-dropdown>
                  <div *ngIf="formSubmitted && selectedWarehouse.length == 0" class="error-msg">
                    <div class="text-danger">Warehouse is required.</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-12 control-label">Location Id <a class="text-danger">*</a></label>
                  <div class="col-md-12 form-group">
                    <input
                      type="text" class="form-control" disabled="true" placeholder="Enter Location Name"
                      formControlName="locationId">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-12 control-label">Location Name <a class="text-danger">*</a></label>
                  <div class="col-md-12 form-group">
                    <input
                      required
                      [ngClass]="{ 'is-invalid': formSubmitted && f.locationName.errors }"
                      type="text" maxlength="255" class="form-control" placeholder="Enter Location Name"
                      formControlName="locationName">
                    <div *ngIf="formSubmitted && locationForm.controls['locationName'].errors" class="error-msg">
                      <div class="text-danger" [hidden]="!locationForm.controls['locationName'].errors.required">Location Name is required.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Location Type <a class="text-danger">*</a></label>
                  <ng-multiselect-dropdown
                    formControlName='locationType'
                    [placeholder]="'Select Location Type'"
                    [(data)]="locationTypes"
                    [(ngModel)]="selectedLocationType"
                    [settings]="dropdownSettingsLocationType"
                    (onSelect)="onItemSelectLocationType($event)"
                    (onDeSelect)="onItemDeSelectLocationType($event)"
                  >
                  </ng-multiselect-dropdown>
                  <div *ngIf="formSubmitted && selectedLocationType.length == 0" class="error-msg">
                    <div class="text-danger">Location Type is required.</div>
                  </div>
                </div>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card" href="javascript:;">
        <ul class="list-unstyled list-info">
          <li>
            <div class="w-100 info bg-info d-flex justify-content-center align-items-center" style="height: 40px;">
              <span class="title text-center text-white">Extended Info</span>
            </div>
          </li>
        </ul>
        <div class="card-block">
          <form [formGroup]="locationForm" class="form-horizontal mrg-top-40 pdd-right-30">
            <div class="row mrg-top-20">
              <div class="col-md-12">


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Location Description</label>
                      <div class="col-md-12 form-group">
                      <textarea
                        type="text"
                        maxlength="1000" class="form-control" placeholder="Enter Location Description"
                        formControlName="locationDescription">
                      </textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">ABC Classification</label>
                      <div class="col-md-12 form-group">
                        <ng-multiselect-dropdown
                          formControlName='ABCClassification'
                          [placeholder]="'Select ABC Classification'"
                          [(data)]="ABCClassification"
                          [(ngModel)]="selectedABCClassification"
                          [settings]="dropdownSettingsABCClassification"
                          (onSelect)="onItemSelectABCClassification($event)"
                          (onDeSelect)="onItemDeSelectABCClassification($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Cubic Capacity</label>
                      <div class="col-md-12 form-group">
                        <input
                          type="text" maxlength="255" class="form-control" placeholder="Enter Cubic Capacity"
                          formControlName="cubicCapacity">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Weight Capacity</label>
                      <div class="col-md-12 form-group">
                        <input
                          type="text" maxlength="255" class="form-control" placeholder="Enter Location Name"
                          formControlName="weightCapacity">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group"><label>Length</label>
                      <input
                        placeholder="Enter Length"
                        maxlength="255"
                        type="text"
                        class="form-control setWidth"
                        formControlName='length'>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group"><label>Height</label>
                      <input
                        type="text"
                        placeholder="Enter Height"
                        class="form-control setWidth"
                        maxlength="255"
                        formControlName='height'>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group"><label>Width</label>
                      <input
                        type="text"
                        placeholder="Enter width"
                        maxlength="255"
                        class="form-control setWidth"
                        formControlName='width'>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Notes</label>
                      <div class="col-md-12 form-group">
                  <textarea
                    type="text"
                    maxlength="1000" class="form-control" placeholder="Enter Notes"
                    formControlName="notes">
                  </textarea>
                      </div>
                    </div>
                  </div>
                </div>





              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



    <div class="form-group col-md-12">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label"></label>
        <div class="col-sm-6">
          <button type="button" class="btn btn-inverse btn-info" (click)="saveLocation()">
            <span>Save</span>
          </button>
          <button type="button" class="btn btn-inverse bg-danger text-white" href="javascript:;" (click)="routeBack()">Cancel
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>

