.form{
  margin-left: 50px;
}
.addFunction{
  align-right:300px;
}
.right {
  position: absolute;
  right: 0;
}
.formWidth{
  width: 200px;
}
.textAreaWidth{
  width: 1100px;
}
label span  input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}

[_nghost-c1]{
  border : 0 !important;;
}





