<div class="container-fluid">
  <div class="row bg-white pt-3">
     <div class="col-md-12">
        <div class="card" href="javascript:;">
          <ul class="list-unstyled list-info">
            <li>
              <div class="w-100 info bg-info d-flex justify-content-center align-items-center" style="height: 40px;">
                <span class="title text-center text-white">Basic Info</span>
              </div>
          </li>
          </ul>
          <div class="card-block">
            <form [formGroup]="siteForm" class="form-horizontal mrg-top-40 pdd-right-30">


              <div class="row">
              <div class="col-md-6">
                <div class="form-group"><label>Country <a class="text-danger">*</a></label>
                  <ng-multiselect-dropdown
                    formControlName='siteCountry'
                    [placeholder]="'Select Country'"
                    [(data)]="countries"
                    [(ngModel)]="selectedCountry"
                    [settings]="dropdownSettingsCountry"
                    (onSelect)="onItemSelectCountry($event)"
                    (onDeSelect)="onItemDeSelectCountry($event)"
                  >
                  </ng-multiselect-dropdown>
                  <div *ngIf="formSubmitted && selectedCity.length == 0" class="error-msg">
                    <div class="text-danger">City is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"><label>City <a class="text-danger">*</a></label>
                  <ng-multiselect-dropdown
                    formControlName='siteCity'
                    [placeholder]="'Select City'"
                    [(data)]="cities"
                    [(ngModel)]="selectedCity"
                    [settings]="dropdownSettingsCity"
                    (onSelect)="onItemSelectCity($event)"
                    (onDeSelect)="onItemDeSelectCity($event)"
                  >
                  </ng-multiselect-dropdown>
                  <div *ngIf="formSubmitted && selectedCity.length == 0" class="error-msg">
                    <div class="text-danger">City is required.</div>
                  </div>
                </div>
              </div>
              </div>

              <div class="row">
              <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-12 control-label">Site Id <a class="text-danger">*</a></label>
                <div class="col-md-12 form-group">
                  <input
                    required
                    [ngClass]="{ 'is-invalid': formSubmitted && f.siteId.errors }"
                    type="text" maxlength="255" class="form-control" placeholder="Enter Site Id"
                    formControlName="siteId">
                  <div *ngIf="formSubmitted && siteForm.controls['siteId'].errors" class="error-msg">
                    <div class="text-danger" [hidden]="!siteForm.controls['siteId'].errors.required">Site Id is required.</div>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                <label class="col-md-12 control-label">Site Name <a class="text-danger">*</a></label>
                <div class="col-md-12 form-group">
                  <input
                    required
                    [ngClass]="{ 'is-invalid': formSubmitted && f.siteName.errors }"
                    type="text" maxlength="255" class="form-control" placeholder="Enter product name"
                    formControlName="siteName">
                  <div *ngIf="formSubmitted && siteForm.controls['siteName'].errors" class="error-msg">
                    <div class="text-danger" [hidden]="!siteForm.controls['siteName'].errors.required">Site Name is required.</div>
                  </div>
                </div>
              </div>
              </div>
              </div>



            </form>
          </div></div>
      </div>
     <div class="col-md-12">
      <div class="card" href="javascript:;">
        <ul class="list-unstyled list-info">
          <li>
            <div class="w-100 info bg-info d-flex justify-content-center align-items-center" style="height: 40px;">
              <span class="title text-center text-white">Extended Info</span>
            </div>
          </li>
        </ul>
        <div class="card-block">
          <form [formGroup]="siteForm" class="form-horizontal mrg-top-40 pdd-right-30">
            <div class="row mrg-top-20">
              <div class="col-md-12">
                <div class="form-group">

                  <div class="row">
                    <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Site Address</label>
                      <div class="col-md-12 form-group">
                        <input
                          type="text" maxlength="255" class="form-control" placeholder="Enter product name"
                          formControlName="siteAddress">
                      </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Site Contact</label>
                      <div class="col-md-12 form-group">
                        <input
                          type="text" maxlength="255" class="form-control" placeholder="Enter Site Contact"
                          formControlName="siteContact">
                      </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-12 control-label">Notes</label>
                      <div class="col-md-12 form-group">
                     <textarea
                      type="text"
                      maxlength="1000" class="form-control" placeholder="Enter Notes"
                      formControlName="notes">
                     </textarea>
                      </div>
                    </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </form>
        </div></div>
    </div>

    <div class="form-group col-md-12">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label"></label>
        <div class="col-sm-6">
          <button type="button" class="btn btn-inverse btn-info" (click)="saveSite()">
            <span>Save</span>
          </button>
          <button type="button" class="btn btn-inverse bg-danger text-white" href="javascript:;" (click)="routeBack()">Cancel
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>

